 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 
 *{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
 }
 header {
    background-color: rgb(0, 0, 0);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
 }
 .logo{
    text-decoration: none;
    color: #0c68bf;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;

 }
 .navigation a{
    color: #0c68bf;
 text-decoration: none;
 font-size: 1.1em;
 font-weight: 500;
 padding-left: 30px;
 }
 .navigation a:hover{
    color: blueviolet;
 }
 section {
    padding: 100px 200px;
 }
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(image/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main h2{
    color: #000000;
    font-size: 1.4em;
    font-weight: 500;
}
.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: #0c68bf;
    font-size: 3em;
    font-weight: 600;
}
.main h3{
    color: #000000;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main-btn{
    display: inline-block;
    text-decoration: none;
    letter-spacing: 1px;
    border: solid 1px #0c68bf;
    border-radius: 60px;
    padding: 10px 20px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    color: black;
}
.main-btn:hover {
    background-color: #0c68bf;
    transform: scale(1.1);
}
.social-icons a{
    color: #fff;
    font-size: 22px;
    margin-right: 22px;
    opacity: .7;
    transition: all 0.4s ease-in-out;
    }
.social-icons a:hover {
        opacity: 1;
}
.title{
    display: flex;
    justify-content: center;
    color: #1e4dce;
    font: size 2.2em; 
    font-weight: 800;
    margin-bottom: 30px;
}
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background-color: #fff;
    width: 20.25em;
    box-shadow: 5px 0px  25px rgb(1 1 1/100%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}
.card:hover{
    transform: scale(1.1);
}
.icon{
    display: flex;
    justify-content: center;
    padding: 10px;
    color: #1e4dce;
    font-size: 75px;
}
.info{
    text-align: center;
}

.info h3{
    color: #1e4dce;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}
.projects{
    background-color: #000000;
}
.projects .content {
    margin-top: 30px;
}
.projects-card{
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}
.projects-card:hover{
    transform: scale(1.1);
}
.projects-card:hover .projects-image{
    opacity: 0.9;
}
.projects-image img{
    width: 100%;
}
.projects-info{
    padding: 1em;
}
.projects-category{
    font-size: 0.8em;
    color: #000000;
}
.projects-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}
.more-details{
    text-decoration: none;
    color: #1e4dce;
}
.more-details:hover{
    color:purple
}
.contact .icon {
    font-size: 4.5em;
}
.contact .info h3 {
    color: black;
} 
.contact .info p{
    font-size: 1.3em;
}
.footer{
    background-color: #000000;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}.footer-title {
    font-size: 1.2em;
    font-weight: 600;
}
.footer-title span{
    color: #1e4dce;
}
.footer .social-icons a{
    font-size: 1.2em;
    padding: 0 12px 0 0;
}